<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
</form>

{{!-- {{#each this}}
<ul class="country_list">
    <li class="country_list_item">{{name}}</li>
</ul>
{{/each}} --}}